.Form {
  max-width: 100%;
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50vh;
  max-width: 200vh;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field::placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

.form_field {
  box-shadow: none;
}
.form_field:required {
  box-shadow: none;
}
.form_field:invalid {
  box-shadow: none;
}

.loud{
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
  padding: 16px;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 10px;
}

.error_container{
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  background: #11998e;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}
